*{
  box-sizing: border-box;
  border-spacing: 0;
  outline: none;
}
body {
  min-width: 300px;
  width: 300px;
  font-size: 13px;
  color: #222;
}
.fld-icon{
  height: 1rem;
  margin-right: 5px;
}
.fld-label,.item-label{
  display: flex;
  align-items: center;
  color: #111;
  text-decoration: none;
  width: 100%;
  padding: .5rem;
  border: 1px solid #222;
  border-radius: .3rem;
}
.item-label{
  display: block;
  overflow-wrap: break-word;
}


.search:not(focus) {
  padding: 5px;
  border-radius: 5px; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  border: 2px solid #F2F3F5;
  background-color: #F2F3F5;
  font-size: 14px;
  outline: none;
}

.search:focus {
  padding: 5px;
  border-radius: 5px; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  border: 2px solid #F2F3F5;
  background-color: #FFF;
  font-size: 14px;
  outline: none;
}

ul {
  list-style:none;
  padding-left: 1.75em;
}

.top-right {
  font-size:small;
  position:fixed;
  right:1em;
  top:1em;
}


li {
  padding: 3px;
}
li {
  background: white;
  list-style-type:none;
  border-radius: .3rem;
  user-select: none;
  margin:0;
  position:relative
}
li::before, li::after {
  content:'';
  left:-20px;
  position:absolute;
  right:auto;
}
li::before {
  border-left:1px solid #999;
  height:100%;
  top:0;
  width:1px;
}
li::after {
  border-top:1px solid #999;
  height:20px;
  top:20px;
  width:23px;
}

li:last-child::before {
  height:21px;
}

.selected>a {
    background: #dddddd;
}


.source {
    color: #bbb;
}
